/* material icons */
@tailwind base;
@tailwind components;
@tailwind utilities;

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 131, 133, 173;
  --background-end-rgb: 84, 89, 126;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      215deg,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
